<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>商品分类列表</title>
  </head>
  <body>
    <a href="/admin001/a_t/new">新增</a>
    <table>
      <tr>
        <th>序号</th>
        <th>名字</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
      <!--此处应该写循环-->
    </table>
  </body>
</html>
