<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>用户中心</title>
  </head>
  <body>
    <h1>诺兰来了<%= hh%></h1>
    <a href="/">首页</a>
  </body>
</html>
